.board_list_wrap {
	width: calc(100% - 40px);
	max-width: 1000px;
	margin: 60px auto;
}

.board_list_tab {
	margin-bottom: 60px;
	text-align: center;
	font-size: 0;
}

.board_list_tab a {
	display: inline-block;
	width: 20%;
	padding: 11px 0;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #dddfe0;
	border-left: 0;
	font-size: 1.5rem;
	font-weight: 400;
	color: #555;
	letter-spacing: -1px;
}

.board_list_tab a.on {
	background: #00bcd4;
	border-color: #00bcd4;
	font-weight: 600;
	color: #fff;
}

.board_list_tab a:first-child {
	border-radius: 5px 0 0 5px;
}

.board_list_tab a:last-child {
	border-radius: 0 5px 5px 0;
}

.board_list_type1 {
	font-size: 0;
}

.board_list_type1 .item {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 60px 0 0 5%;
}

.board_list_type1 .item:nth-child(-n+3) {
	margin-top: 0;
}

.board_list_type1 .item:nth-child(3n-2) {
	margin-left: 0;
}

.board_list_type1 .image {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 100%;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.board_list_type1 .image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.board_list_type1 {

}

.board_list_type1 .cont {
	font-size: 1.3rem;
}

.board_list_type1 .category {
	color: #00bcd4;
}

.board_list_type1 .title {
	margin: 5px 0;
}

.board_list_type1 .title a {
	display: block;
	font-size: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.board_list_type1 .etc span {
	color: #777;
}

.board_list_type1 .etc span:first-child {
	margin-right: 10px;
}

.board_list_type2 {
	font-size: 0;
}

.board_list_type2 .item {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

.board_list_type2 .item:first-child {
	border-top: 1px solid #00bcd4;
}

.board_list_type2 .image {
	display: none;
}

.board_list_type2 .category,
.board_list_type2 .title,
.board_list_type2 .etc,
.board_list_type2 .date,
.board_list_type2 .etc span {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	box-sizing: border-box;
	text-align: center;
}

.board_list_type2 .category {
	width: 15%;
	font-size: 1.3rem;
	color: #00bcd4;
}

.board_list_type2 .title {
	width: 35%;
	text-align: left;
	font-size: 1.5rem;
}

.board_list_type2 .etc {
	width: 30%;
}
.board_list_type2 .date {
	width: 20%;
}
.board_list_type2 .etc span {
	width: 50%;
	font-size: 1.3rem;
	color: #777;
}
.board_list_type2 .date span {
	width: 50%;
	font-size: 1.3rem;
	color: #777;
}
.board_list_wrap .page_wrap {
	margin-top: 30px;
	text-align: center;
}

.board_list_wrap .board_list_type1 + .page_wrap {
	margin-top: 50px;
}

.board_list_wrap .page_wrap a {
	display: inline-block;
	vertical-align: middle;
}

.board_list_wrap .page_wrap .bt {
	width: 15px;
	height: 16px;
	background: #fff url(/resources/img/comm/page_arrow.png) no-repeat;
	background-size: 15px;
	text-indent: -1000px;
	overflow: hidden;
}

.board_list_wrap .page_wrap .first {
	background-position: 0 0;
}

.board_list_wrap .page_wrap .prev {
	margin: 0 10px;
	background-position: 0 -50px;
}

.board_list_wrap .page_wrap .next {
	margin: 0 10px;
	background-position: 0 -100px;
}

.board_list_wrap .page_wrap .last {
	background-position: 0 -150px;
}

.board_list_wrap .page_wrap {
	font-size: 0;
}

.board_list_wrap .page_wrap .num {
	margin: 0 10px;
	font-size: 1.5rem;
}

.board_list_wrap .page_wrap .num.on {
	text-decoration: underline;
}

.board_list_wrap .page_wrap .num:hover {
	text-decoration: underline;
}

.board_view_wrap {
	width: calc( 100% - 40px );
	max-width: 1000px;
	padding-top: 20px;
	margin: 60px auto;
	border-top: 1px solid #00bcd4;
}

.board_view_wrap .category,
.board_view_wrap .etc,
.board_view_wrap .etc span {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.board_view_wrap .category {
	margin: 0 10px;
	font-size: 1.4rem;
	color: #00bcd4;
}

.board_view_wrap .etc span {
	font-size: 1.4rem;
	color: #777;
}

.board_view_wrap .etc span:first-child {
	margin-right: 10px;
}

.board_view_wrap .title {
	margin-top: 5px;
	padding: 0 10px 20px 10px;
	border-bottom: 1px solid #ddd;
	font-size: 1.5rem;
}

.board_view_wrap .image {
	padding: 20px;
	text-align: center;
}

.board_view_wrap .image img {
	max-width: 100%;
}

.board_view_wrap .cont {
	padding: 20px 10px;
	border-bottom: 1px solid #ddd;
	line-height: 160%;
	font-size: 1.4rem;
	color: #777;
}

.board_view .link,
.board_view .file {
	border-bottom: 1px solid #ddd;
}

.board_view dl {
	padding: 20px 10px;
	font-size: 0;
}

.board_view dt,
.board_view dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.board_view dt {
	width: 15%;
	color: #555;
}

.board_view dd {
	width: 85%;
	color: #999;
}


.board_write_wrap {
	width: calc( 100% - 40px );
	max-width: 1000px;
	margin: 60px auto;
	font-size: 0;
}

.board_write dl {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

.board_write dl.writer,
.board_write dl.date {
	display: inline-block;
	width: 50%;
}

.board_write dl:nth-of-type(1) {
	border-top: 1px solid #00bcd4;
}

.board_write dt,
.board_write dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.3rem;
}

.board_write dt {
	width: 14%;
	box-sizing: border-box;
	text-align: center;
}

.board_write dl.writer dt,
.board_write dl.date dt {
	width: 28%;
}

.board_write dd {
	position: relative;
	width: 86%;
}

.board_write dl.writer dd,
.board_write dl.date dd {
	width: 72%;
}

.board_write dl.content {
	padding: 0;
	border-bottom: 0;
}

.board_write dl.content dd {
	width: 100%;
	margin-top: -1px;
	font-size: 0;
}

.board_write .title input[type="text"],
.board_write .link input[type="text"] {
	width: 100%;
}

.board_write .writer input[type="text"],
.board_write .date input[type="text"] {
	width: 100%;
}

.board_write textarea {
	height: 300px;
}

.board_write .image li {
	margin-top: 5px;
	font-size: 1.2rem;
}

.board_write .bt_del {
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin-left: 2px;
	border: 0;
	background: transparent url(/resources/img/comm/bt_del.png) no-repeat 0 0 /12px;
	text-indent: -1000px;
}

@media ( max-width: 1000px ) {
	.board_list_wrap {
		width: calc( 100% - 40px );
		margin: 0 auto 30px auto;
	}

	.board_list_tab {
		display: table;
		width: 100%;
		margin-bottom: 20px;
	}

	.board_list_tab a {
		display: table-cell;
		padding: 8px 0;
		vertical-align: middle;
		font-size: 1.3rem;
		word-break: keep-all;
	}

	.board_list_type1 .item {
		position: relative;
		width: 100%;
		min-height: 120px;
		margin: 20px 0 0 0;
		padding: 20px 120px 20px 20px;
		box-sizing: border-box;
		border-radius: 10px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	}
	
	.board_list_type1 .item:nth-child(-n+3) {
		margin-top: 20px;
	}
	
	.board_list_type1 .item:first-child {
		margin-top: 0;
	}
	
	.board_list_type1 .image {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 80px;
		height: 80px;
		padding-bottom: 0;
		border-radius: 25px;
	}
	

	.board_list_type1 .category {
		font-size: 1.1rem;
		color: #00bcd4;
	}

	.board_list_type1 .title {
		margin: 5px 0;
		font-size: 1.3rem;
	}

	.board_list_type1 .etc {
		font-size: 1.1rem;
		color: #777;
	}
	
	.board_list_type2 .item {
		padding: 16px 0;
	}

	.board_list_type2 .category {
		width: 20%;
		padding: 0 0 0 10px;
		text-align: left;
		font-size: 1.2rem;
	}

	.board_list_type2 .title {
		width: 80%;
		font-size: 1.4rem;
		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	
	.board_list_type2 .title a {
	}

	.board_list_type2 .etc {
		display: none;
	}
	
	.board_list_wrap .page_wrap {
		margin-top: 24px;
	}

	.board_list_wrap .board_list_type1 + .page_wrap {
		margin-top: 20px;
	}

	.board_list_wrap .page_wrap .first {
		background-position: 0 0;
	}
	
	.board_list_wrap .page_wrap .prev {
		background-position: 0 -40px;
	}
	
	.board_list_wrap .page_wrap .next {
		background-position: 0 -80px;
	}
	
	.board_list_wrap .page_wrap .last {
		background-position: 0 -120px;
	}

	.board_list_wrap .page_wrap .bt {
		width: 12px;
		height: 13px;
		background-size: 12px;
	}

	.board_list_wrap .page_wrap .num {
		margin: 0 8px;
		font-size: 1.3rem;
	}

	.board_view_wrap {
		width: calc( 100% - 40px );
		margin: 0 auto 30px auto;
		padding-top: 16px;
	}

	.board_view_wrap .category {
		font-size: 1.2rem;
	}

	.board_view_wrap .etc span {
		font-size: 1.2rem;
	}

	.board_view_wrap .title {
		padding-bottom: 16px;
		font-size: 1.6rem;
	}

	.board_view_wrap .image {
		padding: 20px 10px;
	}

	.board_view_wrap .cont {
		padding: 16px 10px;
		font-size: 1.4rem;
	}

	.board_view dl {
		padding: 16px 10px;
	}

	.board_view dt {
		width: 25%;
	}
	
	.board_view dd {
		width: 75%;
	}
	
	.board_write_wrap {
		width: calc( 100% - 40px );
		margin: 0 auto 30px auto;
	}

	.board_write dl {
		padding: 10px 0;
	}

	.board_write dl.writer,
	.board_write dl.date {
		display: block;
		width: 100%;
	}

	.board_write dt {
		width: 25%;
		padding-left: 10px;
		text-align: left;
		font-size: 1.1rem;
	}
	
	.board_write dl.writer dt,
	.board_write dl.date dt {
		width: 25%;
	}
	
	.board_write dd {
		width: 75%;
	}
	
	.board_write dl.writer dd,
	.board_write dl.date dd {
		width: 75%;
	}
}

@media ( min-width: 600px ) and ( max-width: 800px ) {
	.board_list_type1 .image img {
		height: 180px;
	}
}

.feed_wrap {
	display: none;
	padding: 16px 0;
	border-bottom: 1px solid #ddd;
	background: #f5f5f5;
}

.feed_wrap > .item {
	margin-top: 16px;
	background: #fff;
}

.feed_wrap > .item:first-child {
	margin-top: 0;
}

.feed_wrap .top {
	padding: 16px 20px;
	border-bottom: 1px dashed #eee;
}

.feed_wrap .top .title {
	font-size: 1.5rem;
	font-weight: 600;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.feed_wrap .top .info {
	margin-top: 2px;
}

.feed_wrap .top .info span {
	display: inline-block;
	margin-left: 6px;
	vertical-align: middle;
	font-size: 1.2rem;
	color: #999;
}

.feed_wrap .top .info span:first-child {
	margin-left: 0;
	color: #777;
}

.feed_wrap .image {
	border-bottom: 1px solid #eee;
	font-size: 0;
}

.feed_wrap .image img {
	width: 100%;
}

.feed_wrap .cont {
	padding: 16px 20px 16px 20px;
	line-height: 240%;
}

.feed_wrap .cont .text {
	max-height: 100px;
	overflow: hidden;
	font-size: 1.4rem;
	word-break: break-all;
}

.feed_wrap .cont .more {
	display: inline-block;
	margin-top: 3px;
	font-size: 1.2rem;
	color: #00bcd4;
}

@media ( max-width: 1000px ) {
	.feed_wrap {
		display: block;
	}
}

































/**/