/* 커리큘럼 */
.curriculum_wrap {
	width: 100%;
	box-sizing: border-box;
	background: #fff;
}

.curriculum_wrap .item:nth-child(even) {
	background: #f5f5f5;
}

.curriculum_wrap .item > div {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
	box-sizing: border-box;
}

.curriculum_wrap .item strong {
	font-size: 2.2rem;
	font-weight: 800;
}

.curriculum_wrap .item .info {
	margin-top: 24px;
}

.curriculum_wrap .item .info dl {
	margin-top: 10px;
}

.curriculum_wrap .item .info dl:first-child {
	margin-top: 0;
}

.curriculum_wrap .item .info dt,
.curriculum_wrap .item .info dd {
	display: inline-block;
	vertical-align: top;
	font-size: 1.4rem;
}

.curriculum_wrap .item .info dt {
	width: 80px;
	font-weight: 600;
}

.curriculum_wrap .item .info dd span {
	font-size: 1.2rem;
	color: #888;
}

.curriculum_wrap .item p {
	margin-top: 24px;
	line-height: 150%;
	font-size: 1.4rem;
	word-break: keep-all;
}

.curriculum_wrap .item .bt_wrap {
	text-align: left;
}

@media ( max-width: 1000px ) {
	.curriculum_wrap .item > div {
		padding: 30px 20px;
	}
	
	.curriculum_wrap .item strong {
		font-size: 2rem;
	}
	
	.curriculum_wrap .item .info {
		margin-top: 20px;
	}
	
	.curriculum_wrap .item .info dt,
	.curriculum_wrap .item .info dd {
		font-size: 1.3rem;
	}
	
	.curriculum_wrap .item p {
		margin-top: 20px;
		font-size: 1.3rem;
	}
}

.login_wrap {
	margin: 60px 0;
	text-align: center;
}

.member_form {
	width: 300px;
	margin: 0 auto;
	text-align: left;
}

.member_form dl {
	margin-top: 10px;
	font-size: 0;
}

.member_form dl:nth-of-type(1) {
	margin-top: 0;
}

.member_form dt,
.member_form dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.member_form dt {
	width: 35%;
}

.member_form dd {
	width: 65%;
}

.member_form input[type="text"],
.member_form input[type="password"] {
	display: block;
	width: 100%;
}

.member_form input[type="button"] {
	margin: 20px 0;
}

.member_form p {
	margin-top: 10px;
	font-size: 1.2rem;
	color: #00bcd4;
}

.login_wrap > a {
	font-size: 1.3rem;
}

.login_wrap > a {
	margin: 0 10px;
}

@media ( max-width: 1000px ) {
	.login_wrap {
		padding-top: 30px;
		margin: 30px auto;
		border-top: 1px solid #eee;
	}
	
	.member_form input[type="button"] {
		margin: 12px 0;
	}
}




















































/**/