#headerWrap {
    position: relative;;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    z-index: 10;
}

#headerWrap .top {
	width: 100%;
	height: 30px;
	background: #f5f5f5;
}

#headerWrap .top > div {
	width: calc( 100% - 40px);
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 6px;
	text-align: right;
	font-size: 0;
}

#headerWrap .top a {
	display: inline-block;
	margin-left: 20px;
	font-size: 1.2rem;
}

#headerWrap .top a:first-child {
	margin-left: 0;
}

#header {
    width: calc( 100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
}
#header .logo {
    float: left;
    font-size: 0;
}

#header .logo img {
    height: 26px;
    margin-top: 22px;
}

#gnbWrap {
    float: right;
    font-size: 0;
}

#gnbWrap > ul,
#gnbWrap > a {
    display: inline-block;
    vertical-align: middle;
}

#gnbWrap > ul > li {
    position: relative;
    display: inline-block;
}

#gnbWrap > ul > li > a {
    display: block;
    height: 70px;
    padding: 24px 40px 0 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

#gnbWrap > ul > li:hover > a {
    color: #00bcd4;
}

#gnbWrap > ul > li > ul {
    position: absolute;
    top: 70px;
    left: -20px;
    display: none;
    width: 160px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#gnbWrap > ul > li:hover > ul {
    display: block;
}

#gnbWrap > ul > li > ul > li {
    border-top: 1px dashed #ddd;
}

#gnbWrap > ul > li > ul > li:first-child {
    border-top: 0;
}

#gnbWrap > ul > li > ul > li > a {
    display: block;
    padding: 12px 20px;
    font-size: 1.4rem;
}

#gnbWrap > ul > li > ul > li > a:hover {
    background: #00bcd4;
    color: #fff;
}

#gnbWrap > a {
    margin-left: 20px;
}

#gnbWrap > a:nth-of-type(1) {
    margin-left: 0;
}

#gnbWrap > a.menu_opener {
    display: none;
}

#gnbWrap > a > img {
    width: 30px;
}

#m_gnbWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#m_gnbWrap .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#m_gnbWrap .m_gnb {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #fff;
}

#m_gnbWrap .m_gnb .title {
    height: 88px;
    padding: 35px 20px 0 15px;
    box-sizing: border-box;
    text-align: center;
}

#m_gnbWrap .m_gnb .title img {
    height: 20px;
}

#m_gnbWrap .m_gnb > ul {
    padding: 0 20px;
    background: #00bcd4;
}

#m_gnbWrap .m_gnb > ul > li {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#m_gnbWrap .m_gnb > ul > li:nth-of-type(1) {
	border-top: 0;
}

#m_gnbWrap .m_gnb > ul > li > a {
    display: block;
    padding: 10px 0;
    background: #00bcd4;
    font-size: 1.4rem;
    color: #fff;
}

#m_gnbWrap .m_gnb > ul > li.on {
}

#m_gnbWrap .m_gnb > ul > li.on > a {
    font-weight: 600;
}

#m_gnbWrap .m_gnb > ul > li > ul {
    display: none;
    padding: 15px 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

#m_gnbWrap .m_gnb > ul > li.on > ul {
    display: block;
}

#m_gnbWrap .m_gnb > ul > li > ul > li > a {
	position: relative;
	display: inline-block;
	margin-top: 7px;
	padding-left: 7px;
	font-size: 1.3rem;
	color: #fff;
}

#m_gnbWrap .m_gnb > ul > li > ul > li > a::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
}


#m_gnbWrap .m_gnb > ul > li > ul > li:first-child > a {
	margin-top: 0;
}

#containerWrap {
    padding-bottom: 60px;
}

.contTitle {
    display: table;
    width: 100%;
    margin-bottom: 60px;
    height: 175px;
    background: #00bcd4; /* Old browsers */
    background: -moz-linear-gradient(left,  #00bcd4 0%, #8bc34a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00bcd4 0%,#8bc34a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00bcd4 0%,#8bc34a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#8bc34a',GradientType=1 ); /* IE6-9 */
    text-align: center;
}

.contTitle > div {
    display: table-cell;
    vertical-align: middle;
}

.contTitle strong {
    font-size: 2.8rem;
    color: #fff;
}

.contTitle p {
    margin-top: 5px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.contTitle br {
    display: none;
}

#footerWrap {
    padding: 18px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.5rem;
}