@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    border: 0;
    color: inherit;
}

img {
    border: 0;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    resize: vertical;
    font-size: 1.2rem;
}

input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1.2rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    min-width: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0;
    background: transparent url(/img/comm/select_arrow.png) no-repeat 90% 50% /10px;
    font-size: 1.2rem;
}

select::-ms-expand {
    display: none;
}

select::-ms-expand { display:none; }

@media ( max-width: 800px ) {
    textarea {
        padding: 6px;
    }

    input[type="text"] {
        padding: 6px;
    }

    select {
        padding: 6px;
    }
}